<h1><center>Hello there!</h1>
  <form action="/birthday" method="post">
    <label for="entered_name">
    <center>What's your name?<br>
    </label>
    <input type="text" name="entered_name">

    <label for="birthday_day">
    <center> When is your birthday?<br>
    </label>
    <input type="date" name="entered_date" value="" onChange="setDate(this.value)" >
    <button id="button">Go!</button>
  </form>


<!-- <div style='border: 2px black'>
</div> -->
